body {
	font-size: 20px ;
	color: white;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: -.5px;
	line-height: 125%;
	
}

	

ul {
	font-size: 20px;
	line-height: 120%;
}
#tag{
	text-align: center;
	font-size: 23px;
	text-decoration: underline;
	padding-bottom: 15px;
	line-height: 10%
	

}
h1 {
	line-height: 80%;
	text-align: center;
	font-size: 50px;
	letter-spacing: 0px;
	
}
#pro {
    text-align: center;
	letter-spacing: 5px;
    font-size: 25px;
    border: 3px dashed white;
    border-radius: 50px;
}
#contact{
	text-align: center;
	font-size:30px;
	
}
#edu{
	text-align: center;
	letter-spacing: 5px;
	font-size: 25px;	
	border: 3px dashed white;
    border-radius: 50px;
}
