body {
	background-image: url("https://cdn.wallpaperhub.app/cloudcache/1/b/5/8/e/f/1b58ef6e3d36a42e01992accf5c52d6eea244353.jpg");
	color: white;
	font-family: helvetica;
	font-size: 150%;
}
h1 {
	font-size:50px;
}
	
	
p {
  color: white;
	font: 20px
}
h4.location {
	font-family:times new roman;
	font: 30px
	
	
	}
h5.date {
	font-family:times new roman;
	font: 20px
	}
