body {
	
	color: white;
	font-family: catamaran;
	
}
#tag{
	text-align: center;
	font-size: 20px;
	text-decoration: underline

}
ul {
	font-size: 20px
}
h1 {
	font-size: 50px;
	
	}
#pro {
    text-align: center;
	font-size: 25px;	
	border: 5px dashed white;
    border-radius: 20px;	
	
	
}
#contact{
	font-size: 21px
}
#edu{
	text-align: center;
	font-size: 25px;	
	border: 5px dashed white;
    border-radius: 20px;}
