body {
	
	color: white;
	font-family: helvetica;
	font-size: 150%;
}
h1 {
	font-size:50px;
}
	
	
p {
  color: white;
	font: 20px
}
h4.location {
	font-family:impact;
	font: 30px
	
	
	}
h5.date {
	font-family:times new roman;
	font: 20px
	}
