
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap" rel="stylesheet">
body {
	background-image: url("https://cdn.wallpaperhub.app/cloudcache/1/b/5/8/e/f/1b58ef6e3d36a42e01992accf5c52d6eea244353.jpg");
	font-family: 'Catamaran', sans-serif;
	font-size: 150%;
}
h1 {
	font-family: 'Catamaran', sans-serif;
	font-size:50px;
}
	
	
p {
  color: white;
	font-family: 'Catamaran', sans-serif;
	font: 20px
}
h4.location {
	font-family: 'Catamaran', sans-serif;
	font: 30px
	
	
	}
h5.date {
	font-family: 'Catamaran', sans-serif;
	font: 20px
	}

